@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;800&display=swap');
.main {
    width: 100%;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    width:664px;
    height: 576px;
    padding: 40px 24px;
    background-color: #fff;
    border-radius: 5px;
}
.cont1 {
    width: 640px;
    height: 264px;
    padding: 40px 16px 48px;
}
.cont3 {
    width: 640px;
    height: 328px;
}
.cont2 {
    width: 664px;
    height: 608px;
}

.title {
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
}
.description {
    display: flex;
    margin: 0;
}
.conf_title {
    justify-content: center;
    margin-bottom: 8px;
}
.desc {
    margin: 10px 0 0;
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    display: flex;
}
.conf_desc {
    justify-content: center;
    text-align: center;
    font-size: 14px;
    line-height: 18px;
    color: #A9A9A9;
}
form div {
    padding-left:8px !important;
    padding-right: 8px !important;
}
.conf_form {
    margin-top: 40px;
    margin-bottom: 32px;
    display: flex;
    justify-content: center;
}
input {
    margin: 8px 0;
    height: 48px;
}
.form-control {
    font-size: 14px;
}
.calen {
    background-image: url("../img/Calendar.svg");
    background-position: 95%;
    background-repeat: no-repeat;
    background-size: 25px;
}
.vector {
    background-image: url("../img/Vector.svg");
    background-position: 95%;
    background-repeat: no-repeat;
    background-size: 15px;
}
.conf_input {
    width: 48px;
    height: 48px;
    margin-right: 8px;
    margin-bottom: 0px;
    font-size: 24px;
    font-weight: 600;
    color: black;
    padding: 8px 16px;
}
.approval_icon {
    display: flex;
    width: 80px;
    height: 80px;
    margin: 32px auto;
}
.btn {
    width: 384px;
    height: 48px;
    background-color: #232529;
    border-radius: 4px;
    color: #FFFFFF;
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
}
a {
    color: white;
    text-decoration: none;
}
a:hover {
    color: #FFFFFF;
}
.btn:hover {
    color: #FFFFFF;
}
.btn-next {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    width: 100%;
}
.sign_btn {
    margin-top: 8px;
}
.conf_btn {
    margin-top: 40px;
}
.error {
    border-color: red;
}
